  To deploy the site on Github i undertook the following steps:

  Requirements:

  * Python 3
  * Github account
  * Mongo DB account
  * Heroku account

  1. Navigated to my profile page on Github
  2. Selected this project from the repositories
  3. Clicked on settings
  4. Scroll down to the Github pages section
  5. Click where is says source and in the dropdown menu select master
  6. Click on the next dropdown menu to the right select /(root)
  7. Click save

  You will then receive a confirmation saying the page has been published and also be provided with the link where
  people can view your site.

  ![Image of page published confirmation](assets/images/readme_images/github_page_published.png)

  The link to view the published site can be found by clicking
  [Here](https://smcgdub.github.io/MS3_Project_Tipsy_Mac_Staggers/)

  Link: https://smcgdub.github.io/MS3_Project_Tipsy_Mac_Staggers/


  # @app.route('/<drink_id>', methods=["POST"])
    # def upvote(drink_id):
    # mongo.db.drinks.update_one({"_id": ObjectId(drink_id)}, {"$inc": {'upvotes': 1}})
    # return redirect(url_for("home"))
    # return redirect(url_for('recipe_description', recipe_id=recipe_id))


    # @app.route("/drinks_by")
    # def drinks_by():
    # drinks_by = mongo.db.drinks.find()
    # return render_template("drinks_by.html", drinks_by=drinks_by)

    # mongo.db.drinks.find({"created_by": "username"})
    # return render_template("drinks_by.html")
    # drinks = mongo.db.drinks.find()
    # return render_template("drinks.html", drinks=drinks)

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- MATERIALIZE LIBRARY -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- FONT AWESOME LIBRARY -->
      <script src="https://kit.fontawesome.com/debc4afe80.js" crossorigin="anonymous"></script>
      <!-- LOCAL CSS STYLE SHEET -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
      {% block styles %}
      {% endblock %}
      <title>Tipsy Mac Staggers</title>
    </head>
    
    <body>
    
    
      <!-- JQUERY SCRIPT -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <!-- MATERIALIZE SCRIPT -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!-- LOCAL JS FILE -->
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      {% block scripts %}
      {% endblock%}
    </body>
    
    </html>