/* GLOBAL FONT */
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

body {
  font-family: 'Nixie One', cursive;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* FLASH MESSAGES */
.flash_messages {
  background-color: #f4a209;
  border: 1px solid #000;
  color: #000;
  text-shadow: 1px 1px #fff;
  border-radius: 5px;
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
}

/* NAVBAR */
.navbar_colour {
  background-color: #f4a209;
  border: 1px solid #000;
}

nav .brand-logo {
  color: #000;
  margin-left: 10px;
  text-shadow: 1px 1px #fff;
}

.nav-btn {
  color: #000;
  background-color: #aad922;
  border-radius: 5px;
  border: 1px solid #000;
  /* text-shadow: 1px 1px #000; */
  margin: 0px;
  font-weight: bolder;
}

.nav-btn:hover {
  color: #000;
  background-color: #ffffff;
}

.li_nav {
  background-color: #aad922;
  color: #ffffff;
  border-bottom: 1px solid #000;
}

.bars {
  color: #000;
}

.mobile-home {
  border-top: 2px solid #000;
}

/* FOOTER */
.page-footer {
  border: 1px solid #000;
  background-color: #f4a209;
}

.footer-copyright {
  border: 1px solid #000;
}

.social_icon {
  font-size: 4rem;
  margin: 5px;
  text-shadow: 1px 1px #000;
}

.fa-instagram:before {
  color: #fff;
}

.fa-youtube:before {
  color: #fff;
}

.fa-facebook-square:before {
  color: #fff;
}

.fa-twitter-square:before {
  color: #fff;
}

.follow_us_text {
  font-size: 2rem;
  color: #000;
  text-shadow: 1px 1px #fff;
}

.follow_us_row {
  margin: 0px;
}

.sub_foot_text {
  /* text-shadow: 1px 1px #000; */
  color: #000;
  /* font-size: 1.2rem; */
}

/* FOOTER STICKY BOTTOM */
main {
  flex: 1 0 auto;
}

/* REGISTER PAGE */
.register_button {
  background-color: #aad922;
  color: #000;
  /* text-shadow: 1px 1px #000; */
  border: 1px solid #000;
  font-family: 'Nixie One', cursive;
  border-radius: 5px;
}

.register_button:hover {
  background-color: #ffffff;
  color: #000;
  /* text-shadow: 1px 1px #000; */
  border: 1px solid #000;
  font-family: 'Nixie One', cursive;
}

.register_text {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

/* DRINKS PAGE */
.tipsys_drinks {
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

/* ADD DRINK PAGE */
.add_drink {
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}