/* GLOBAL FONT */
@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');

body {
  font-family: 'Nixie One', cursive;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* FLASH MESSAGES */
.flash_messages {
  background-color: #f4a209;
  border: 1px solid #000;
  color: #000;
  text-shadow: 1px 1px #fff;
  border-radius: 5px;
  margin-bottom: 1.4rem;
  margin-top: 1.4rem;
}

#AgeVerifyScript {
  font-family: 'Nixie One', cursive;
}

/* NAVBAR */
.navbar_colour {
  background-color: #f4a209;
  border: 1px solid #000;
}

nav .brand-logo {
  color: #000;
  margin-left: 10px;
  text-shadow: 1px 1px #fff;
}

.nav-btn {
  color: #000;
  background-color: #aad922;
  border-radius: 5px;
  border: 1px solid #000;
  /* text-shadow: 1px 1px #000; */
  margin: 0px;
  font-weight: bolder;
}

.nav-btn:hover {
  color: #000;
  background-color: #ffffff;
}

.li_nav {
  background-color: #aad922;
  color: #ffffff;
  border-bottom: 1px solid #000;
}

.bars {
  color: #000;
}

.mobile-home {
  border-top: 2px solid #000;
}

/* FOOTER */
.page-footer {
  border: 1px solid #000;
  background-color: #f4a209;
}

.footer-copyright {
  border: 1px solid #000;
}

.social_icon {
  font-size: 4rem;
  margin: 5px;
  text-shadow: 1px 1px #000;
}

.fa-instagram:before {
  color: #fff;
}

.fa-youtube:before {
  color: #fff;
}

.fa-facebook-square:before {
  color: #fff;
}

.fa-twitter-square:before {
  color: #fff;
}

.follow_us_text {
  font-size: 2rem;
  color: #000;
  text-shadow: 1px 1px #fff;
}

.follow_us_row {
  margin: 0px;
}

.sub_foot_text {
  /* text-shadow: 1px 1px #000; */
  color: #000;
  /* font-size: 1.2rem; */
}

/* FOOTER STICKY BOTTOM */
main {
  flex: 1 0 auto;
}

/* REGISTER PAGE */
.register_button {
  background-color: #aad922;
  color: #000;
  /* text-shadow: 1px 1px #000; */
  border: 1px solid #000;
  font-family: 'Nixie One', cursive;
  border-radius: 5px;
}

.register_button:hover {
  background-color: #ffffff;
  color: #000;
  /* text-shadow: 1px 1px #000; */
  border: 1px solid #000;
  font-family: 'Nixie One', cursive;
}

.register_text {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

/* DRINKS PAGE */
.tipsys_drinks {
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.all_drinks_h4 {
  margin: 0rem 1rem 1rem 1rem;
}

.edit_drink_btn {
  background-color: #f4a209;
  /* background-color: #a209f4; */
  /* background-color: #095BF4; */
  /* background-color: #aad922; */
  color: #000000;
  /* width: 100%; */
  border: 1px solid #000000;
  border-bottom: 0px solid #000000;
  /* border-radius: 5px; */
}

.edit_drink_btn:hover {
  /* background-color: #e3b4fc; */
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-bottom: 0px solid #000000;
  /* border-radius: 5px; */
}

.delete_drink_btn {
  background-color: #ff0000;
  color: #000000;
  border: 1px solid #000000;
  border-bottom: 0px solid #000000;
  /* border-radius: 5px; */
}

.delete_drink_btn:hover {
  background-color: #ffffff;
  text-shadow: 1px 1px #fff;
  color: #ff0000;
  border: 1px solid #000000;
  border-bottom: 0px solid #000000;
  /* border-radius: 5px; */
}

.drinks_cards {
  border: 1px solid black;
}

.no_results_p {
  margin: 5px;
  font-size: 1.1rem;
}

.search_clear_btns {
  margin-bottom: 0px;
}

.preperation_row {
  margin-bottom: 5px;
}

.scroll_top {
  position: sticky;
  top: 95%;
  margin-bottom: 20px;
  /* right: 900px; */
  /* text-align: center; */
}

.scroll {
  background: #f4a209;
  color: #ffffff;
  padding: 4px;
  border-radius: 20px;
  opacity: 0.3;
  margin-left: 50%;
}

/* ADD DRINK PAGE */
.add_drink {
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

/* EDIT DRINK PAGE */
.cancel_edit_button {
  background-color: #ff0000;
  color: #ffffff;
  /* text-shadow: 1px 1px #000; */
  border: 1px solid #000;
  font-family: 'Nixie One', cursive;
  border-radius: 5px;
  margin: 2.5px;
}

.cancel_edit_button:hover {
  background-color: #ffffff;
  color: #ff0000;
  /* text-shadow: 1px 1px #000; */
  border: 1px solid #000;
  font-family: 'Nixie One', cursive;
  border-radius: 5px;
  margin: 2.5px;
}

/* FADE IN EFFECT */
h3.tipsys_drinks {
  display: none
}

h3.profile_username_h3 {
  display: none
}

h2.register_text {
  display: none
}

p.register_p {
  display: none
}

h3.add_drink {
  display: none
}

ul.drinks_cards {
  display: none
}

h3.edit_drink {
  display: none
}

form.edit_drink_form {
  display: none
}

form.add_drink_form {
  display: none
}

form.register_page_form {
  display: none
}

form.login_page_form {
  display: none
}

form.search_bar {
  display: none
}

.search_bar_input {
  border: 1px solid #000000;
  /* padding: 10px; */
}

.shop_div {
  display: none
}

.welcome_back_col {
  display: none;
  margin-top: 2rem;
}

/* SHOP PAGE */

/* DRINKS BY */
.contributors_h3 {
  margin-bottom: 0px;
}