{% extends "base.html" %}
{% block content %}

<h3 class="center add_drink">Add Drink</h3>

<div class="row">
  <form class="col s12 add_drink_form" method="POST" action="{{ url_for('add_drink') }}">
    <!-- DRINK NAME INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="fas fa-cocktail prefix"></i>
          <input id="drink_name" name="drink_name" type="text" class="validate" maxlength="100" data-length="100"
            required>
          <label for="drink_name">Drink Name:</label>
          <span class="helper-text" data-error="Enter drink name" data-success=""></span>
        </div>
      </div>
    </div>

    <!-- DRINK TYPE INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="fas fa-cocktail prefix"></i>
          <input id="drink_category" name="drink_category" type="text" class="validate" maxlength="50" data-length="50"
            required>
          <label for="drink_category">Drink Type:</label>
          <span class="helper-text" data-error="Enter drink type" data-success="">Ex: Whisky/Vodka/Rum (Enter only
            1)</span>
        </div>
      </div>
    </div>

    <!-- DRINK INGREDIENTS -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">shopping_cart</i>
          <textarea id="drink_ingredients" name="drink_ingredients" class="materialize-textarea validate"
            data-length="1000" required></textarea>
          <label for="drink_ingredients">Ingredients:</label>
          <span class="helper-text" data-error="Add drink ingredients" data-success="">List all ingredients &
            quantities</span>
        </div>
      </div>
    </div>

    <!-- DRINK INSTRUCTIONS -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">format_list_numbered</i>
          <textarea id="drink_instructions" name="drink_instructions" class="materialize-textarea validate"
            data-length="1000" required></textarea>
          <!-- <input id="drink_instructions" name="drink_instructions" type="text" class="validate" required> -->
          <label for="drink_instructions">Instructions:</label>
          <span class="helper-text" data-error="Add step by step instructions" data-success="">Enter step by step
            instructions</span>
        </div>
      </div>
    </div>

    <!-- PREPERATION TIME -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12"><i class="material-icons prefix">access_time</i>
          <select id="preperation_time" name="preperation_time" class="validate" type="number">
            <option value="" disabled selected>Select:</option>
            <option value="5">5 Minutes</option>
            <option value="10">10 Minutes</option>
            <option value="15">15 Minutes</option>
            <option value="20">20 Minutes</option>
          </select>
          <label for="preperation_time">Preperation Time (Minutes):</label>
        </div>
      </div>
    </div>

    <!-- SERVES -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12"><i class="material-icons prefix left">face</i>
          <select id="serves" name="serves" class="validate" type="number">
            <option value="" disabled selected>Select:</option>
            <option value="1">1x person</option>
            <option value="2">2x people</option>
            <option value="3">3x people</option>
            <option value="4">4x people</option>
            <option value="5">5x people</option>
            <option value="6">6x people</option>
            <option value="7">7x people</option>
            <option value="8">8x people</option>
          </select>
          <label for="serves">Serves (People):</label>
        </div>
      </div>
    </div>

    <!-- SUBMIT BUTTON -->
    <div class="row">
      <div class="col s12 center">
        <button class="btn-large waves-effect waves-light register_button" type="submit">Submit Drink
          <i class="material-icons right">forward</i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}