{% extends "base.html" %}
{% block content %}

<h2 class="center add_drink">Add Drink</h2>

<div class="row">
  <form class="col s12" method="POST" action="">
    <!-- DRINK NAME INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="fas fa-cocktail prefix"></i>
          <input id="drink_name" name="drink_name" type="text" class="validate" required>
          <label for="drink_name">Drink Name:</label>
          <span class="helper-text" data-error="Enter drink name" data-success=""></span>
        </div>
      </div>
    </div>

    <!-- DRINK TYPE INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="fas fa-cocktail prefix"></i>
          <input id="drink_category" name="drink_category" type="text" class="validate" required>
          <label for="drink_category">Drink Type:</label>
          <span class="helper-text" data-error="Enter drink type" data-success="">Ex: Whisky/Vodka/Rum</span>
        </div>
      </div>
    </div>

    <!-- DRINK INGREDIENTS -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">shopping_cart</i>
          <input id="drink_ingredients" name="drink_ingredients" type="text" class="validate" required>
          <label for="drink_ingredients">Ingredients:</label>
          <span class="helper-text" data-error="" data-success="">List all ingredients</span>
        </div>
      </div>
    </div>

    <!-- DRINK INSTRUCTIONS -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">format_list_numbered</i>
          <input id="drink_instructions" name="drink_instructions" type="text" class="validate" required>
          <label for="drink_instructions">Instructions:</label>
          <span class="helper-text" data-error="" data-success="">Enter step by step instructions</span>
        </div>
      </div>
    </div>


  </form>
</div>

{% endblock %}