{% extends "base.html" %}
{% block content %}

<!-- PAGE HEADER -->
<div class="row">
  <div class="col s12">
    <h3 class="contributors_h3 center">Our contributors</h3>
  </div>
</div>

{% for drink in drinks_by %}
<div class="row">
  <div class="col s12">
    <ul class="collapsible drinks_cards">
      <!-- ADDED BY: -->
      <li>
        <div class="collapsible-header"><i class="material-icons left">face</i> Added by:
          {{ drink.created_by|capitalize }}</div>
      </li>
      <!-- USERS DRINKS -->
      <li>
        <div class="collapsible-header"><i class="fas fa-cocktail left"></i>{{ drink.created_by|capitalize }}'s drinks:
        </div>
        <div class="collapsible-body">
          {% for drink in drinks_by %}
          <span>{{ drink.drink_name|capitalize, }}</span>
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</div>
{% endfor %}

{% endblock %}