{% extends "base.html" %}
{% block content %}

<div>
  <!-- REGISTER HEADING -->
  <h2 class="center register_text">Log In</h2>
  <!-- REGISTER FORM INPUTS -->
  <form method="POST" action="{{ url_for('login') }}" class="login_page_form">
    <!-- YOUR USERNAME INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix left">account_circle</i>
          <input id="username" name="username" type="text" class="validate" autocomplete="username" minlength="5"
            maxlength="15" pattern="[a-zA-Z0-9]{5,15}" title="Only letters and numbers allowed a-z A-Z 0-9" required>
          <label for="username">Enter Username</label>
          <span class="helper-text" data-error="Invalid username" data-success="Username valid"></span>
        </div>
      </div>
    </div>
    <!-- PASSWORD -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix left">security</i>
          <input id="password" name="password" type="password" class="validate" autocomplete="password" minlength="6"
            maxlength="15" required>
          <label for="password">Enter Password</label>
          <span class="helper-text" data-error="Invalid Password" data-success=""></span>
        </div>
      </div>
    </div>
    <!-- SUBMIT BUTTON -->
    <div class="row">
      <div class="col s12 center">
        <button class="btn-large waves-effect waves-light register_button" type="submit" name="action">Log In
          <i class="material-icons right">forward</i>
        </button>
      </div>
    </div>
  </form>
  <!-- REGISTER ACCOUNT REDIRECT -->
  <div class="row">
    <div class="col s12">
      <p class="center">
        New Here? <a href="{{ url_for('register') }}">Register an account</a> 
      </p>
    </div>
  </div>
</div>

{% endblock %}