{% extends "base.html" %}
{% block content %}

<!-- WELCOME BACK IMAGE -->
<div class="row">
  <div class="col s12 welcome_back_col">
    <!-- LINK TO IMAGE ON CLOUDINARY -->
    <img class="responsive-img"
      src="https://res.cloudinary.com/duxlpdunu/image/upload/v1623771333/welcome_back_jaowjf.jpg"
      alt="Welcome back sign">
  </div>
</div>
<!-- SEARCH DRINKS BUTTON - REDIRECT TO HOMEPAGE -->
<div class="row center">
  <div class="col s12">
    <a class="btn-large nav-btn waves-effect center" href="{{ url_for('home') }}" >Search Drinks<i class="fas fa-cocktail right"></i></a>  
  </div>
</div>

{% endblock %}