{% extends "base.html" %}
{% block content %}

<div class="register_page">
  <!-- REGISTER HEADING -->
  <h2 class="center register_text">Register</h2>
  <!-- REGISTER FORM INPUTS -->
  <form method="POST" action="{{ url_for('register') }}" class="register_page_form">
    <!-- YOUR NAME INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix left">accessibility</i>
          <input id="your_name" name="your_name" type="text" class="validate" required>
          <label for="your_name">Your Name</label>
        </div>
      </div>
    </div>
    <!-- YOUR USERNAME INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix left">account_circle</i>
          <input id="username" name="username" type="text" class="validate" autocomplete="username" minlength="5"
            maxlength="15" pattern="[a-zA-Z0-9]{5,15}" title="Only letters and numbers allowed a-z A-Z 0-9" required>
          <label for="username">Create Username</label>
          <span class="helper-text" data-error="Invalid username" data-success="Username valid">Min 5 characters</span>
        </div>
      </div>
    </div>
    <!-- EMAIL INPUT -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix left">email</i>
          <input id="email" name="email" type="email" class="validate" autocomplete="email" required>
          <label for="email">Your Email</label>
          <span class="helper-text" data-error="Invalid email address" data-success="Email valid ">Help text</span>
        </div>
      </div>
    </div>
    <!-- PASSWORD -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix left">security</i>
          <input id="password" name="password" class="validate" minlength="6"
            maxlength="15" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}" title="Must contain 1 number, 1 uppercase and 1 lowercase letter" required>
          <label for="password">Create Password</label>
          <span class="helper-text" data-error="Invalid Password" data-success="">Min 6 characters</span>
        </div>
      </div>
    </div>
    <!-- DATE OF BIRTH -->
    <div class="row">
      <div class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix left">date_range</i>
          <input id="d_o_b" name="d_o_b" type="text" class="datepicker" required>
          <label for="d_o_b">Your Date Of Birth</label>
        </div>
      </div>
    </div>
    <!-- REGISTER/SUBMIT BUTTON -->
    <div class="row">
      <div class="col s12 center">
        <button class="btn-large waves-effect waves-light register_button" type="submit" name="action">Register
          <i class="material-icons right">person_add</i>
        </button>
      </div>
    </div>
  </form>
</div>
<!-- REDIRECT TO LOGIN IF ALREADY REGISTERED -->
  <div class="row">
    <div class="col s12">
      <p class="center">
        Already Registered? <a href="{{ url_for('login') }}">Log In Here</a> 
      </p>
    </div>
  </div>
<!-- </div> -->

{% endblock %}