{% extends "base.html" %}
{% block content %}

<div class="row shop_div">
  <div class="col s12">
    <h3 class="center shop_h3">Shop for essentials</h3>
    <!-- LINK TO IMAGE ON CLOUDINARY -->
    <img class="responsive-img" src="https://res.cloudinary.com/duxlpdunu/image/upload/v1623350711/cocktail_making_kit_vviay2.jpg" alt="Image of a cocktail making set">
    <!-- TEXT UNDER PHOTO -->
    <p class="center">Making cocktails and drinks can be alot of fun. However to make the cocktails correctly you will definitley need a few items that will allow you to do the job correctly and to allow you to show off to all your firends, and become cocktail master.</p>
    <p class="center">Click on the link below to be brought to the online store where you can purchase all of the items you need</p>
  </div>
  <!-- SHOP NOW BUTTON -->
  <div class="row center">
    <a class="btn-large nav-btn waves-effect center"
      href="https://www.amazon.co.uk/s?k=cocktail+maker+set&crid=3PU5P06BCME2Q&sprefix=cocktail%2Caps%2C187&ref=nb_sb_ss_ts-doa-p_9_8" target="_blank">Shop
      Now <i class="material-icons right">shopping_cart</i></a>
  </div>
</div>

{% endblock %} 